.main {
  margin-top: 32px;

  .main__wrap {
    .main__blocks {
      display: flex;
      justify-content: space-between;

      .main__element {
        flex-basis: 49.5%;
        background: #050518;
        border-radius: 16px;
        height: 424px;
        position: relative;
        text-decoration: none;

        .part1 {
          max-width: 100%;
          margin-left: 80px;
          margin-top: -10px;
          min-width: 416px;
          width: 416px;
          height: 329px;
        }

        .part2 {
          max-width: 100%;
          margin-left: 80px;
          margin-top: -10px;
          min-width: 416px;
          width: 484px;
          height: 317px;
        }

        .part1_p {
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 22px;
          display: flex;
          align-items: center;
          letter-spacing: 0.444444px;
          text-transform: uppercase;
          color: $pink;
          margin-left: 32px;
          margin-top: -14px;
          margin-bottom: 16px;

          span {
            font-size: 8px;
            line-height: 16px;
            border: 1px solid #acacac;
            border-radius: 22px;
            width: 25px;
            text-align: center;
            margin-left: 16px;
            color: #fff;
          }
        }

        .part2_p {
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 22px;
          display: flex;
          align-items: center;
          letter-spacing: 0.444444px;
          text-transform: uppercase;
          color: $pink;
          margin-left: 32px;
          margin-bottom: 16px;

          span {
            font-size: 8px;
            line-height: 16px;
            border: 1px solid #acacac;
            border-radius: 22px;
            width: 25px;
            text-align: center;
            margin-left: 16px;
            color: #fff;
          }
        }

        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 31px;
          letter-spacing: 0.444444px;
          text-transform: uppercase;
          color: $white;
          margin-left: 32px;
          width: 340px;
        }

      }
    }
  }
}