$white: white;
$black: black;
$btn-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.72%, rgba(255, 255, 255, 0.61) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), #F2C94C;
$rainbow: linear-gradient(125.1deg, #2DEFC8 0%, #B0DB86 52.08%, #FFCAAE 100%), #5683FF;
$dark: #18172B;
$grey: #1B1C23;;