.advantage__dark {
  background-color: $dark;
  .advantage__wrap {
    .advantage__block {
      height: 628px;
      display: flex;
      background-color: $dark;
      align-items: center;

      .advantage__info {

        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
          line-height: 64px;
          color: #F8B932;
        }

        p {
          line-height: 24px;
          margin: 20px 0;

          & span {
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
          }
        }
      }

      img {
        width: 535px;
        height: 396px;
      }
    }
  }
}