.advantage__grey.fixed__last {
  padding-top: 30px;
  .advantage__wrap {
    .advantage__block {
      .advantage__info {
        margin-left: 96px;
        p {
          margin-right: 73px;
        }
      }
    }
  }
}

.advantage__dark.fixed__last {
  padding-top: 30px;
  .advantage__wrap {
    .advantage__block {
      .advantage__info {

      }
      img {
        width: 545px;
        height: 299px;
        padding: 58px 0 0 0;
      }
    }
  }
}