.advantage__grey.fixed {
  padding-top: 30px;
  .advantage__wrap {
    .advantage__block {
      .advantage__info {
        margin-left: 96px;
      }
    }
  }
}

.advantage__dark.fixed {
  padding-top: 30px;
  .advantage__wrap {
    .advantage__block {
      .advantage__info {
        margin-right: 87px;
      }
    }
  }
}