* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	font-size: 16px;
}

.container {
	display: inline-flex;
	max-width: 1200px;
	min-width: 320px;
	background-color: #eee;
	margin: 100px auto;
	padding: 10px 0;
}

.container__element {
	border: 1px solid #000;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 20px;
}
